/* custom_styles.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');


:root {
    --marimo-heading-font: 'Fira Sans', sans-serif;
    --marimo-text-font: 'Fira Sans', sans-serif;
}


/* Header styles */
h1 {
    font-size: 62px; /* Adjust to your preferred presentation size */
    text-align: left;
}

h2 {
    font-size: 48px;
    text-align: left;
}

h3 {
    font-size: 39px;
    text-align: left;
}

h4 {
    font-size: 31px;
    text-align: left;
}

h5 {
    font-size: 25px;
    text-align: left;
}

/* Optional: Default paragraph font size */
p {
    font-size: 25px;
    text-align: left;
}

/* Add more styles as needed */
